<ion-header>
  <ion-toolbar color="secondary" align="center">
    <ion-buttons slot="start" (click)="MENU()">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
<img src="assets/UNDICOMPLETO.png" width="120" height="60" align="right">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" align="center">

  <table class="table" align="center">
    <thead>
      <tr class="prueba2">
        <th class="white">ID Docente</th>
        <th class="white">Fecha</th>
        <th class="white"> Dia </th>
        <th class="white">Horario E</th>
        <th class="white">Entrada</th>
        <th class="white">Estatus E</th>
        <th class="white">Horario S</th>
        <th class="white">Salida</th>
        <th class="white">Estatus S</th>
        <th class="white">Comentarios</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of Info2">
      <tr *ngIf="i.diferE=='En rango'&&i.diferS=='En rango'">
        <td class="prueba2">{{i.ID}}</td>
        <td class="prueba2">{{i.Fecha}}</td>
        <td class="prueba2">{{i.Dia}}</td>
        <td class="prueba2">{{i.HorE}}</td>
        <td class="prueba2">{{i.Ent}}</td>
        <td class="prueba2">{{i.diferE}}</td>
        <td class="prueba2">{{i.HorS}}</td>
        <td class="prueba2">{{i.Sal}}</td>
        <td class="prueba2">{{i.diferS}}</td>
        <td class="prueba2">
          <textarea></textarea>
        </td>
      </tr>
      <tr *ngIf="i.diferE!='En rango'&&i.diferS=='En rango'">
        <td class="prueba2">{{i.ID}}</td>
        <td class="prueba2">{{i.Fecha}}</td>
        <td class="prueba2">{{i.Dia}}</td>
        <td class="noap">{{i.HorE}}</td>
        <td class="noap">{{i.Ent}}</td>
        <td class="noap">{{i.diferE}}</td>
        <td class="prueba2">{{i.HorS}}</td>
        <td class="prueba2">{{i.Sal}}</td>
        <td class="prueba2">{{i.diferS}}</td>
        <td class="prueba2">
          <textarea></textarea>
        </td>
      </tr>
      <tr *ngIf="i.diferS!='En rango'&& i.diferE=='En rango'">
        <td class="prueba2">{{i.ID}}</td>
        <td class="prueba2">{{i.Fecha}}</td>
        <td class="prueba2">{{i.Dia}}</td>
        <td class="prueba2">{{i.HorE}}</td>
        <td class="prueba2">{{i.Ent}}</td>
        <td class="prueba2">{{i.diferE}}</td>
        <td class="noap">{{i.HorS}}</td>
        <td class="noap">{{i.Sal}}</td>
        <td class="noap">{{i.diferS}}</td>
        <td class="prueba2">
          <textarea></textarea>
        </td>
      </tr>
      <tr *ngIf="i.diferE!='En rango'&&i.diferS!='En rango'">
        <td class="prueba2">{{i.ID}}</td>
        <td class="prueba2">{{i.Fecha}}</td>
        <td class="prueba2">{{i.Dia}}</td>
        <td class="noap">{{i.HorE}}</td>
        <td class="noap">{{i.Ent}}</td>
        <td class="noap">{{i.diferE}}</td>
        <td class="noap">{{i.HorS}}</td>
        <td class="noap">{{i.Sal}}</td>
        <td class="noap">{{i.diferS}}</td>
        <td class="prueba2">
          <textarea></textarea>
        </td>
      </tr>
    </tbody>
  </table>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary" (click)="console()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
