<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content color="secondary">
        <div class="menu-header-bg"></div>
        <div class="header-content"></div>
          <img src="assets/UNID2.png" >
          <ion-label>
            <h2><strong>Menu de opciones</strong></h2>
          </ion-label>
          &nbsp;
          &nbsp;
          &nbsp;
        <ion-list id="inbox-list">
        

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="onClick()" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" *ngIf="buttonDisabled == false">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" color="light"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button (click)="onClick2()" expand="block" fill="clear" shape="round" *ngIf="buttonDisabled == false">
          Cerrar sesión 
        </ion-button> 
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
